.deal {
	margin-top: 15px;
	min-width: 836px;
	min-height: 100px;
	border-radius: 15px;
	background: rgba(80, 8, 170, 1);


	display: flex;
	align-items: center;
	justify-content: space-around;

	&__token {
		padding: 12px 2em;
		

		background: #D5E5F2;
		color: #141313;
		font-size: 18px;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 25px;

		&--btn {
			font-family: 'Roboto';
			background: #211A04;
			color: #D5E5F2;
			border: none;
			transition: 0.3s;
			&:hover {
				color: red;
				// background: rgba(33, 26, 4, 0.6);;
			}
		}
	}
}